<h1>Over <%= @user.name %></h1><br />

<div id="beu_lijstje" name="beu_lijstje">

<strong>Bio</strong><br />
<pre><%= @user.bio %></pre><br />
<br />
<%= link_to "De faves van #{@user.name}", :controller => "user", :action => "favorites", :id => @user.username %>

<h2 style="background: none;"><br /><%= @user.name %> is het beu:</h2>
<%= render :partial => "home/list" %>
</div>
