<h2><%= t(:signup) %></h2>

<% if @user && @user.errors %>
  <div style="color: red;">
  <%= error_messages_for('user') %>
  </div>
  <br /><br />
<% end %>

<% form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.label :name, t(:name) %>
  <%= f.text_field :name %>
  <%= f.label :username, t(:username) %>
  <%= f.text_field :username %>
  <%= f.label :email, t(:email) %>
  <%= f.text_field :email %>
  <%= f.label :password, t(:password) %>
  <%= f.password_field :password %>
  <%= f.label :password_confirm, t(:password_confirm) %>
  <%= f.password_field :password_confirm %>
  <br />
  Bio:<br />
  <%= f.text_area :bio, :cols => 30, :rows => 5 %>
  <br />
  <%= recaptcha_tags %>
  <br />
  <%= f.submit t(:submit) %> 
<% end %>